name: Run

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Run
      run: cd run && chmod +x chai && ./chai å–µ.yaml optimize
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: target
        path: run/out*/
